* {
    font-family: 'Arial', sans-serif;
}

body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e9eff8, #c5d7f0);
    height: 100vh;
}

form {
    background: linear-gradient(135deg, #f1f9ff, #d9eeff);
    padding: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em rgba(227, 232, 255, 0.6);
    gap: 2em;
    width: 80%;
    max-width: 600px;
}

.input-container {
    background: linear-gradient(135deg, #ffffff, #f5f9ff);
    box-shadow: 0 0 2em rgba(227, 232, 255, 0.4);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
}

.input-container input {
    outline: none;
    border: none;
    font-size: 1.1em;
    padding: 1em;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffffff, #f9fbff);
}

.input-container input::placeholder {
    color: #000000;
    font-size: 0.9em;
}


.submit-button {
    cursor: pointer;
    padding: 1em;
    background: linear-gradient(135deg, #2f3b7a, #4a5cb0);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: linear-gradient(135deg, #4a5cb0, #2f3b7a);
}

.user-not-found {
    display: none;
    color: #ff0000;
    font-size: 1.2em;
    text-align: center; 
    background: linear-gradient(135deg, #ffe0e0, #ffc8c8);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(255, 200, 200, 0.6);
}

.user-not-found.show {
    display: block;
}


.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.register-link {
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
    color: #333;
}

.register-link a {
    color: #4a5cb0;
    text-decoration: none;
}

